<h1>Categoreis</h1>
<div class="list-group">
    {{#each categoriesArr}}
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{this.name}}</h5>
    </div>
    <p class="mb-1">{{this.machine_name}}</p>
  </a>
    {{/each}}
</div>